.container-main {
  background-image: linear-gradient(to right, #a882ff, #689aff);
  border-radius: 2em;
  opacity: 0.85;
  position: absolute;
  top: 10em;
}

.img {
  position: absolute;
  top: -7em;
  width: 22.5em;
}

.algumNome {
  color: black;
  font-size: 23px;
}

.title {
  color: black;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.information {
  background-color: gainsboro;
  border-radius: 1em;
  color: black;
}

.recomendation {
  background-color: white;
  border-radius: 1em;
}

.img-recomendation {
  height: 9em;
}

.btn-fixed {
  bottom: 1em;
  margin-left: 4em;
  position: fixed;
}

.btn-margin {
  margin-left: 4em;
}

.scroll {
  height: 200px;
  overflow-x: scroll;
  width: 332px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.checkedInput {
  text-decoration: line-through;
}
