body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer { 
  display: flex;
  justify-content: space-around;
  background-color:gray;
  background-image: linear-gradient(to right, #a882ff, #689aff);
  padding: 10px;
}

.header {
  background-image: linear-gradient(to right, #a882ff, #689aff);
}
